@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

.button {
    border: 0;
    text-transform: uppercase;
    color: white;
    width: 320px;
    background-color: #5e217a;
    border-radius: 6px;
    font-weight: 900;
    font-size: 18px;
    line-height: 1.16;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    padding: 10px 0 9px 0;
    height: fit-content;
}

.button:hover {
    background-color: #561e70;
}
